[Install]
WantedBy=default.target

[Unit]
Description=Alok
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStart=/home/rgl/.local/bin/alok alok.txt
KillMode=mixed
KillSignal=SIGTERM
SuccessExitStatus=143

TimeoutSec=1m
RestartSec=60
Restart=always
